<p>wtf works!</p>

<h3 *ngIf="errorMsg">{{errorMsg}}</h3>

<form [formGroup]="form">
    <div>
        <input type="text" formControlName="title">
        <button type="button" (click)="onClick()">Go</button>
    </div>
    <div>
        <input type="text" formControlName="maker">
        <button type="button" (click)="onClick()">Go</button>
    </div>
</form>


<pre class="mt-5">{{ help | json }}</pre>

<!-- <div class="m-5">
    <img [src]="help.image">
</div>

<table>
    <tr class="mt-3" *ngFor="let maker of help.cast">
        <td class="fw-bold">{{ maker.role }}</td>
        <td>{{ maker.forename }}</td>
        <td>{{ maker.surname }}</td>
        <td>{{ maker.link }}</td>
        <td><pre>{{ maker.notes }}</pre></td>
    </tr>
</table> -->

